/* Prueba visual para verificar que funcione correctamente el estilo de App */
/* integrante 3 debe modificar */

.title {
    text-align: center;
    font-size: 10rem;
}
body{
  margin:0;
  background:#121212;
  color:white;
  font-family:Arial;
}
